a {
  text-decoration: none;
  color: #efb42b;
  font-size: 1.2rem;
  cursor: pointer;
}
a.active {
  font-size: 1.2rem;
  background-color: rgb(248, 248, 248, 0.2);
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 5px;
  color: white;
  outline: 1px solid gold;
}
a:last-of-type {
  margin-left: 3rem;
}
