*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
}

button {
  cursor: pointer;
}
.btn2 {
  color: #c5ceda;
  background: #0039a6;
  padding: 19px 20px;
  font-size: 16px;
  font-weight: bold;
  border: 1.5px solid gold;
  border-radius: 10px;
}

.btn2:is(:hover, :focus) {
  outline-offset: 1px;
  outline: 4px #1f75fe solid;
  border: 2px solid #efb42b;
}
